{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "require-jsdoc": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ObjectExpression": 1,
        "ignoredNodes": ["ConditionalExpression"]
      }
    ],
    "max-len": [
      "error",
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "assert": true
  }
}
